{
  "jellyfin_url": "https://your.jellyfin",
  "api_key": "YOUR_API_KEY",
  "discord_client_id": "<YOUR_DISCORD_APP_CLIENT_ID>",
  "interval": 5,
  "include_token_in_image_url": false,
  "Images": { "ENABLE_IMAGES": true }
}


